<footer class="bg-gray ">
    <div
        class="container border-top d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
        <ul class="list-unstyled d-flex flex-wrap justify-content-center py-5 mb-0 ">
            <li><a href="#" class="py-2 px-4">服務方案</a></li>
            <li><a href="#" class="py-2 px-4">關於職旅</a></li>
            <li><a href="#" class="py-2 px-4">聯絡我們</a></li>
            <li><a href="#" class="py-2 px-4">隱私權政策</a></li>
            <li><a href="#" class="py-2 px-4">用戶條款</a></li>

        </ul>
        <p class="ms-lg-auto text-natural-50 py-2">Copyright © 2025 職旅 workway. All rights
            reserved.
        </p>
    </div>
</footer>