<footer class="bg-gray ">
    <div class="container border-top">
        <ul class="list-unstyled d-flex py-5 ">
            <li><a href="#" class="py-2 px-4">服務方案</a></li>
            <li><a href="#" class="py-2 px-4">關於職旅</a></li>
            <li><a href="#" class="py-2 px-4">聯絡我們</a></li>
            <li><a href="#" class="py-2 px-4">隱私權政策</a></li>
            <li><a href="#" class="py-2 px-4">用戶條款</a></li>
            <li class="ms-auto"><a href="#" class="text-secondary py-2 ">Copyright © 2025 職旅 workway. All rights
                    reserved.</a>
            </li>
        </ul>
    </div>
</footer>