<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-3 ">
    <div class="container justify-content-start">
        <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.svg" alt="logo"></a>

        <button class="navbar-toggler order-3" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="offcanvas offcanvas-end" id="offcanvasNavbar" tabindex="-1" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex justify-content-between align-items-center flex-column ">
                <ul class="navbar-nav  mx-lg-auto text-center">
                    <li class="nav-item me-lg-3">
                        <a class="nav-link px-lg-5 py-4 py-lg-2 mb-5 mb-lg-0" aria-current="page"
                            href="servicePlan.html">服務方案</a>
                    </li>
                    <li class="nav-item me-lg-3">
                        <a class="nav-link  px-lg-5 py-4 py-lg-2 mb-5 mb-lg-0" href="#">關於職旅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-5 py-4 py-lg-2" href="#">聯絡我們</a>
                    </li>
                </ul>
                <div class="d-lg-none w-100">
                    <button class="btn btn-secondary w-100 fw-bold py-2" type="button">登入/註冊</button>
                </div>



            </div>

        </div>
        <div class="order-lg-3 ms-auto order-2 me-3 me-lg-0">
            <button type="button" class="btn btn-light border" data-bs-toggle="modal"
                data-bs-target="#loginModal">登入/註冊</button>
            <!-- <img src="../assets/images/avatar.png" alt="avatar" class="user-image rounded-circle me-2 ">
                <span class="d-none d-lg-inline">Mokumaru</span> -->
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px;">
                    <div class="modal-content">
                        <div class="modal-body d-flex justify-content-center p-0">
                            <div class="d-none d-lg-block" style="width: 700px;">
                                <img src="/assets/images/login.png" alt="login"
                                    class="rounded-start-3 object-fit-cover h-100">
                            </div>
                            <div class="d-flex flex-column position-relative pt-5 pb-9 px-lg-6" style="width: 500px;">
                                <button type="button" class="btn-close position-absolute top-12 end-12"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                <h3 class="mx-auto mb-5">登入</h3>
                                <div class="border-bottom d-flex flex-column pb-5">
                                    <button type="button" class="btn border-natural-85 py-3 mb-4 align-bottom">
                                        <img src="/assets/images/icon/google-color.svg" alt="google"
                                            style="width: 20opx; height: 20px;"> Google
                                    </button>
                                    <button type="button" class="btn border-natural-85 py-3 mb-4 align-bottom">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-discord text-primary me-1"
                                            viewBox="0 0 16 16 ">
                                            <path
                                                d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
                                        </svg></i>Discord
                                    </button>
                                </div>
                                <div class="pt-5">
                                    <div class="form-floating mb-4">
                                        <input type="text" class="form-control" id="username" placeholder="帳號">
                                        <label for="username">帳號</label>
                                    </div>
                                    <div class="form-floating input-group mb-4 d-flex ">
                                        <input type="password" class="form-control border-end-0" id="password"
                                            placeholder="密碼">
                                        <span
                                            class="input-group-text material-symbols-outlined border-start-0 rounded-end-2">
                                            visibility_off
                                        </span>
                                        <label for="password">密碼</label>
                                    </div>
                                    <p class="text-natural-50 text-end mb-4">忘記密碼</p>
                                    <button type="button" class="btn btn-dark  w-100 mb-lg-6 mb-5">送出
                                        <span class="material-symbols-outlined align-bottom">
                                            chevron_right
                                        </span>
                                    </button>
                                    <p class="text-natural-50 text-center">不是會員？<a href="#"
                                            class="text-primary text-decoration-underline" data-bs-dismiss="modal"
                                            data-bs-toggle="modal" data-bs-target="#register">快速註冊</a></p>
                                    <!-- registerModel -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- registerModel -->
            <div class="modal fade" id="register" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px;">
                    <div class="modal-content">
                        <div class="modal-body d-flex justify-content-center p-0">
                            <div class="d-flex flex-column position-relative pt-5 pb-9  pb-lg-6 px-lg-6"
                                style="width: 500px;">
                                <button type="button" class="btn-close position-absolute top-12 end-12"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                <h3 class="mx-auto mb-5">登入</h3>
                                <div class="border-bottom d-flex flex-column pb-5">
                                    <button type="button" class="btn border-natural-85 py-3 mb-4 align-bottom">
                                        <img src="/assets/images/icon/google-color.svg" alt="google"
                                            style="width: 20opx; height: 20px;">
                                        Google
                                    </button>
                                    <button type="button" class="btn border-natural-85 py-3 mb-4 align-bottom">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-discord text-primary me-1"
                                            viewBox="0 0 16 16 ">
                                            <path
                                                d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
                                        </svg></i>Discord
                                    </button>
                                </div>
                                <div class="pt-5">
                                    <div class="form-floating mb-4">
                                        <input type="text" class="form-control" id="username" placeholder="帳號">
                                        <label for="username">帳號</label>
                                    </div>
                                    <div class="form-floating input-group mb-4 d-flex ">
                                        <input type="password" class="form-control border-end-0" id="password"
                                            placeholder="密碼">
                                        <span
                                            class="input-group-text material-symbols-outlined border-start-0 rounded-end-2">
                                            visibility_off
                                        </span>
                                        <label for="password">密碼</label>
                                    </div>
                                    <div class="form-floating input-group mb-4 d-flex ">
                                        <input type="password" class="form-control border-end-0" id="password2"
                                            placeholder="密碼">
                                        <span
                                            class="input-group-text material-symbols-outlined border-start-0 rounded-end-2">
                                            visibility_off
                                        </span>
                                        <label for="password2">密碼</label>
                                    </div>
                                    <div class="form-floating input-group mb-4 d-flex ">
                                        <input type="password" class="form-control border-end-0" id="password3"
                                            placeholder="密碼">
                                        <span
                                            class="input-group-text material-symbols-outlined border-start-0 rounded-end-2">
                                            visibility_off
                                        </span>
                                        <label for="password3">確認密碼</label>
                                    </div>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input me-1" type="checkbox" value=""
                                        id="checkIndeterminate">
                                    <label class="form-check-label" for="checkIndeterminate">
                                        我同意<a href="#" class="mx-1 text-primary text-decoration-underline">服務條款</a>和<a
                                            href="#" class="text-primary ms-1 text-decoration-underline">隱私政策

                                        </a>
                                    </label>
                                </div>
                                <button type="button" class="btn btn-dark  w-100 mb-lg-6 mb-5">
                                    送出
                                    <span class="material-symbols-outlined align-bottom">
                                        chevron_right
                                    </span>
                                </button>
                                <p class="text-natural-50 text-center">已經會員？<a href="#"
                                        class="text-primary text-decoration-underline" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">直接登入</a></p>
                            </div>
                            <div class="d-none d-lg-block" style="width: 700px;">
                                <img src="/assets/images/left.png" alt="register"
                                    class="rounded-end-3  object-fit-cover h-100">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
</nav>