.bg-gray{
    background-color: #F0F3F5;
}
.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.rounded-white{
    border-radius: 24px;
    background-color: #FCFCFD;
}
.side-width{
    width: 300px;
}